<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/Style/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="/public/Style/grayscale.css" rel="stylesheet">
<link rel="stylesheet" href="/public/Style/style.css">

<body>
    <%- body -%>
</body>
<% include Landing/Script %>

</html>