<!DOCTYPE html>
<html lang="ar" style="direction: rtl;">
<% include Landing/Header %>

<body>
    <% include Landing/navbar %>
    <%- body -%>
    <% include Landing/Footer %>
</body>
<% include Landing/Script %>

</html>