<% layout ('index') %>

<title>الرئيسية</title>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <!-- <h1 class="mx-auto my-0 text-uppercase">الاوراسTv</h1> -->
            <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.15752-9/56866416_326921354682352_3094946132053196800_n.png?_nc_cat=110&_nc_ht=scontent-cdg2-1.xx&oh=d940e96c7b6c71a7cd8cec2c338c8718&oe=5D3610B5"
                alt="" style="width: 60%; margin-bottom: -15%;">
            <h2 class="text-white-50 mx-auto mt-2 mb-5">قريبا على شاشتكم</h2>
            <a href="/live" class="btn btn-primary js-scroll-trigger">مشاهدة البث المباشر</a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">حول القناة</h2>
                <p class="text-white-50">قناة الاوراس تيفي
                    قناة جزائرية
                    قيد النشأة</p>
            </div>
        </div>
        <img src="/public/img/header-bg.svg" class="img-fluid" alt="" style="width:40%;">
    </div>
</section>

<!-- <section class="news-section">
    <h2 class="mb-4 text-center">أخر الأخبار</h2>
    <div class="swiper-container Home-News">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card">
                    <img class="card-img-top" src="/public/img/ipad.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-right">العنوان</h5>
                        <p class="card-text text-right">المحتوى يوجد منتيبسنمتتنمشسيشميكمنتبس كمتبشس كمنعبشن
                            هخسعبشنكمش بتش</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <img class="card-img-top" src="/public/img/ipad.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-right">العنوان</h5>
                        <p class="card-text text-right">المحتوى يوجد منتيبسنمتتنمشسيشميكمنتبس كمتبشس كمنعبشن
                            هخسعبشنكمش بتش</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

</section> -->

<!-- Signup Section -->
<section id="signup" class="signup-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

                <a href="/contact" class="btn btn-outline-warning btn-lg">
                    راسلنا على موقعنا مباشرة
                    <i class="far fa-paper-plane fa-2x mb-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>